body{
    background: blueviolet;
    margin: 0;
}

:root {
    --size: 200px;
    --width: 150px;
    --height: 250px;
}
.container-principal{
    display: flex;
    justify-content: center;
    margin-top: 6em;
}
.container {
    width: var(--width);
    height: var(--height);
    /* background: grey; */
    position: relative;
    /* perspective: 5000px; */
    transform-style: preserve-3d;
    transform: rotateX(157deg) rotateY(255deg);
}
.face {
    width: 100%;
    height: 100%;
    /* background: red; */
    position: absolute;
}
.right {
    background: rgba(180, 172, 172, 0.8);;

    transform: translate3d(0, 0, calc(-1 * var(--width))); 
    /* //hice un cal xq mi size queria que fuera negativo */
}
.front {
    background: rgba(255, 172, 172, 0.8);;
    transform-origin: 0% 0%;
    transform: rotate3d(0, 1, 0, 90deg);
}
.back {
    background: rgba(180, 255, 172, 0.8);;
    transform-origin: 100% 100%;
    transform: rotate3d(0, 1, 0, -90deg);
}
.bottom {
    background: rgba(68, 212, 11, 0.8);;
    transform-origin: 0% 0%;
    transform: rotate3d(1, 0, 0, -90deg);
    height: var(--width);
}
.top{
--offset: calc(-1 * calc(var(--height) - var(--width)));
background: rgba(69, 230, 29, 0.8);
transform-origin: 0 100%;
/* transform: rotate3d(1, 0, 0, 90deg);  */
transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--offset));
height: var(--width);
}
.left{
    background: rgba(131, 26, 26, 0.9);
}